@import "buttons";

/** Button Overrides
 */
/*#region*/
// Default button
.btn {
    font-weight: 700;
    flex: 0 0 auto;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.btn-lg {
        &:not(:first-child) {
            margin-left: $btn-padding-x * 0.5;
        }
    }

    &.btn-skip-nav {
        &:focus,
        &:focus-within {
            width: 100%;
        }
    }
}
/*#endregion*/
