@use "sass:math";

/** SVG Helpers */
/*#region*/
@mixin svg-format($width, $height, $color) {
  width: 100%;
  min-width: $width;
  max-width: $width;
  max-height: $height;
  fill: $color;
}
/*#endregion*/

/** Animation Helpers */
/*#region*/
@mixin transitionFast($prop) {
  transition: $prop linear $transition-fast;
}

@mixin transitionDefault($prop) {
  transition: $prop linear $transition-def;
}

@mixin transitionSlow($prop) {
  transition: $prop linear $transition-slow;
}

@mixin transitionXSlow($prop) {
  transition: $prop linear $transition-x-slow;
}

@mixin rotate($deg) {
  transform: rotate($deg);
  @include transitionDefault(transform);
}

@mixin rotate0() {
  transform: rotate(0);
  @include transitionDefault(transform);
}

@mixin rotate180() {
  transform: rotate(180deg);
  @include transitionDefault(transform);
}

@mixin bounce-up($offset) {
  @if $offset {
    @keyframes bounce-up {
      from {
        transform: translate($offset, 0px);
      }
      to {
        transform: translate($offset, -15px);
      }
    }
  } @else {
    @keyframes bounce-up {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-15px);
      }
    }
  }
}
/*#endregion*/

/** Typography */
/*#region*/

/**
 * Pass px font size, outputs px and rem font size
 * @param {font-size} $size
 */
@mixin text-size($size) {
  font-size: $size + px;
  font-size: (math.div($size, 16)) + rem;
}

/**
* Pass px line height, outputs px and rem line height
* @param {line-height} $size
*/
@mixin line-height($size) {
  line-height: $size + px;
  line-height: (math.div($size, 16)) + rem;
}

@mixin fw-300() {
  font-weight: 300 !important;
}

@mixin fw-500() {
  font-weight: 500 !important;
}

@mixin fw-700() {
  font-weight: 700 !important;
}
/*#endregion*/

/** Effects */
/*#region*/
@mixin box-shadow-top() {
  box-shadow: $box-shadow-top;
}

@mixin box-shadow-right() {
  box-shadow: $box-shadow-right;
}

@mixin box-shadow-bottom() {
  box-shadow: $box-shadow-bottom;
}

@mixin box-shadow-left() {
  box-shadow: $box-shadow-left;
}
/*#endregion*/