/** Z-index Helpers
 */
/*#region*/
.z-index-1 {
    z-index: 1;
}
/*#endregion*/

/** Overflow Helpers
 */
/*#region*/
.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}
/*#endregion*/