@use "sass:math";
@import "list-group";

.list-group .list-group-item {
    background-color: transparent;
}

.c3-flex-list {
    position: relative;
    overflow: hidden;

    > .list-group.list-group-flush.list-group-horizontal {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -1px;
    
        > .list-group-item {
            @include fw-500();
            padding: 0 math.div(map-get($spacers, 4), 3);
            margin-bottom: map-get($spacers, 3);
            font-style: italic;
            flex: 1 0 auto;
            border-radius: 0;
            text-align: center;
            border-left: solid 1px $gray-500;
            border-bottom: none;
    
            &:first-child,
            + .list-group-item {
                border-top-width: 0;
                border-left: solid 1px $gray-500;
                border-bottom: none;
            }
        }

        @include media-breakpoint-down(lg) {
            > .list-group-item {
                @include text-size(14);
                padding: map-get($spacers, 1) math.div(map-get($spacers, 4), 3);
            }
        }

        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: flex-start;

            > .list-group-item {
                text-align: left;
                padding: map-get($spacers, 2) 0 0;
                margin-bottom: 0;
            }
        }
    }
}

.bg-quaternary,
.bg-secondary,
.bg-gray-light {
    .c3-flex-list > .list-group.list-group-flush.list-group-horizontal > .list-group-item {
        border-color: $senary;
    }
}