@import "offcanvas";

.c3-off-canvas {
    @extend .offcanvas;

    visibility: visible;
    background-color: $blue;
    left: 0;
    height: 100%;
    width: 340px;
    box-shadow: $box-shadow-lg;
    overflow-y: scroll;
    @include transitionDefault(left);

    a {
        display: block;
        font-weight: 400;
        text-decoration: none;
        color: $gray-500;
        @include transitionDefault(color);

        &:hover,
        &:focus {
            color: tint-color($white, 100);
            text-decoration: none;
            @include transitionDefault(color);
        }
    }

    .offcanvas-header {
        flex-direction: column;
        align-items: initial;
        padding: 2rem 2rem 0.25rem 1.75rem;
    }

    .offcanvas-body {
        overflow-y: unset;
        padding: 1.5rem 2rem 1.5rem 1.75rem;
    }

    // &::-webkit-scrollbar {
    //     width: 5px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: $matisse;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: $golden-tainoi;
    //     border-radius: 8px;
    // }

    .btn-collapse-panel {
        position: absolute;
        left: 3px;
        top: 5px;
        height: 26px;
        padding: 0 8px 0 8px;
        @include transitionDefault(left);

        & > span:after {
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            margin: auto;
            background-size: contain;
            background-repeat: no-repeat;
            line-height: 0;
            background-position: center center;
        }
    }

    &.closed {
        left: -340px;
        box-shadow: none;
        overflow-y: unset;

        .btn-collapse-panel {
            left: 343px;
            top: 5px;
            background: $blue;
        }
    }
}