&_minimal {
    @extend .c3-card;

    background-color: transparent;
    border: none;

    .card-body {
        box-shadow: none;
        border: none;

        //added to resolve node 12.22.1 minimizing issue
        &:first-child {
            box-shadow: none;
        }
    }

    .card-media {
        padding: 0 0 $card-spacer-y;

        + .card-content {
            padding: $card-spacer-y 0;
        }

        &.ratio {
            align-self: flex-start;

            > iframe {
                padding: 0 0 $card-spacer-y;
            }
        }
    }

    .card-content {
        padding: 0;
    }

    &_img-left {
        @extend .c3-card_img-left;
        @extend .c3-card_minimal;

        .card-media {
            padding: 0 calc($card-spacer-x / 2) 0 0;

            + .card-content {
                padding: 0 0 0 calc($card-spacer-x / 2);
            }

            &.ratio {
                align-self: flex-start;

                > iframe {
                    padding: 0 calc($card-spacer-x / 2) 0 0;
                }
            }
        }

        .card-content {
            padding: 0;
        }
    }

    &_img-right {
        @extend .c3-card_img-right;
        @extend .c3-card_minimal;

        .card-media {
            padding: 0 0 0 calc($card-spacer-x / 2);

            + .card-content {
                padding: 0 calc($card-spacer-x / 2) 0 0;
            }

            &.ratio {
                align-self: flex-start;

                > iframe {
                    padding: 0 0 0 calc($card-spacer-x / 2);
                }
            }
        }

        .card-content {
            padding: 0;
        }
    }
}
