:root {
  --bg-c-rainbow-lite: linear-gradient(
    117deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(89, 220, 182, 1) 20%,
    rgba(82, 178, 126, 1) 51%,
    rgba(197, 189, 77, 1) 78%,
    rgba(252, 70, 107, 1) 100%
  );
  --bg-c-rainbow-dark: linear-gradient(
    117deg,
    rgba(28, 56, 70, 1) 0%,
    rgba(32, 32, 32, 1) 24%,
    rgba(33, 18, 47, 1) 71%,
    rgba(3, 7, 69, 1) 100%
  );  
  --bg-c-default: rgb(229 231 235);
  --bg-c-dark: rgb(33 36 40);
  --fill-c-default: #000;
  --text-c-default: #000;
  --text-c-highlight: #6612d4;
  --text-c-lite: #fff;
  --border-c-default: var(--text-c-default);
  --tw-shadow-color: rgb(254 249 195 / 0.5);
  --lander-bg-c: var(--bg-c-rainbow-lite);
}

/** Lite is the default theme so it mostly inherits from root */
[data-theme='lite'] {
  --lander-bg-c: inherit;
  --lander-bg-c-inverted: var(--bg-c-rainbow-dark);
  --bg-c-default: inherit;
  --fill-c-default: inherit;
  --text-c-default: inherit;
  --text-c-highlight: inherit;
  --border-c-default: inherit;
  --tw-shadow-color: inherit;

  .text-c-default {
    color: var(--text-c-default);
  }

  .text-c-inverted {
    color: var(--bg-c-default);
  }

  .text-c-highlight {
    color: var(--text-c-highlight);
  }

  .fill-c-default {
    fill: var(--fill-c-default);
  }

  .fill-c-inverted {
    fill: var(--bg-c-default);
  }

  .bg-c-default {
    background-color: var(--bg-c-default);
  }

  .bg-c-inverted {
    background-color: var(--text-c-default);
  }

  .border-c-default {
    border-color: var(--border-c-default);
  }

  .shadow-c-default {
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    --tw-shadow: var(--tw-shadow-colored);
  }

  .drop-shadow-c-default {
    --tw-drop-shadow:
      drop-shadow(0 1px 2px var(--tw-shadow-color))
      drop-shadow(0 1px 1px var(--tw-shadow-color));
  }

  .hover\:text-c-default:hover {
    color: var(--bg-c-default);
  }

  .hover\:text-c-inverted:hover {
    color: var(--text-c-default);
  }

  .hover\:bg-c-default:hover {
    background-color: var(--text-c-default);
  }

  .hover\:bg-c-inverted:hover {
    background-color: var(--bg-c-default);
  }

  .hover\:shadow-c-default:hover {
    --tw-shadow-colored: 0 16px 20px -5px var(--tw-shadow-color),
      0 4px 8px -6px var(--tw-shadow-color);
    --tw-shadow: var(--tw-shadow-colored);
  }
}

[data-theme='dark'] {
  --lander-bg-c: var(--bg-c-rainbow-dark);
  --lander-bg-c-inverted: var(--bg-c-rainbow-lite);
  --bg-c-default: rgb(33 36 40);
  --fill-c-default: #fff;
  --text-c-default: #fff;
  --text-c-highlight: #ee770e;
  --border-c-default: var(--text-c-default);
  --tw-shadow-color: rgb(96 165 250 / 0.5);

  .text-c-default {
    color: var(--text-c-default);
  }

  .text-c-inverted {
    color: var(--bg-c-default);
  }

  .text-c-highlight {
    color: var(--text-c-highlight);
  }

  .fill-c-default {
    fill: var(--fill-c-default);
  }

  .fill-c-inverted {
    fill: var(--bg-c-default);
  }

  .bg-c-default {
    background-color: var(--bg-c-default);
  }

  .bg-c-inverted {
    background-color: var(--text-c-default);
  }

  .border-c-default {
    border-color: var(--border-c-default);
  }

  .shadow-c-default {
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    --tw-shadow: var(--tw-shadow-colored);
  }

  .drop-shadow-c-default {
    --tw-drop-shadow:
      drop-shadow(0 1px 2px var(--tw-shadow-color))
      drop-shadow(0 1px 1px var(--tw-shadow-color));
  }

  .hover\:text-c-default:hover {
    color: var(--bg-c-default);
  }

  .hover\:text-c-inverted:hover {
    color: var(--text-c-default);
  }

  .hover\:bg-c-default:hover {
    background-color: var(--text-c-default);
  }

  .hover\:bg-c-inverted:hover {
    background-color: var(--bg-c-default);
  }

  .hover\:shadow-c-default:hover {
    --tw-shadow-colored: 0 16px 20px -5px var(--tw-shadow-color),
      0 4px 8px -6px var(--tw-shadow-color);
    --tw-shadow: var(--tw-shadow-colored);
  }
}
