/* these properties apply to specific elements */
#card-container{
	display: flex;
  justify-content: center;
  flex-direction: column;
}

/* these properties apply to all card styles */
.card {
	margin-bottom: 2rem;
	margin-top: 1rem;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(55,55,55,0.5);
	-moz-box-shadow: 0px 5px 10px 2px rgba(55,55,55,0.5);
	box-shadow: 0px 5px 10px 2px rgba(55,55,55,0.5);
	color: #666568;
	border: none;
}

.card>.columns {
	margin: 0;
	padding: 0;
}

.card>.columns>.column {
	margin: 0;
	padding: 0;
}

.card h1 {
	color: #666568;
}

.card button,
.card a {
	padding: 1rem 3rem 2rem 3rem;
	text-transform: uppercase;
	border-color: #666568;
	color: #666568;
}

.card p a {
	padding: 0;
	color: #5755d9;
}

.card button.btn:hover,
.card a.btn:hover,
.card button.btn:focus,
.card a.btn:focus {
	background-color: #F1F1FC;
	border-color: #666568;
}

.card button.btn:active,
.card a.btn:active {
	background-color: #666568; 
	border-color: #F1F1F1;
	color: #F1F1F1;
}

.card .card-footer button,
.card .card-footer a {
	margin-top: -0.5rem;	
}

.card .card-body button,
.card .card-body a {
	margin-top: 2rem;
}

/* these properties apply to img-left && img-right style */
.card.img-left .card-img,
.card.img-right .card-img {
	height: 100%;
}

.card.img-left .card-img img, 
.card.img-right .card-img img {
  object-fit: cover;
  min-height: 100%;
  bottom: 0;
}

.card.img-left .card-body,
.card.img-right .card-body {
	display: flex;
	align-items: center;
}

.card.img-left .card-footer button,
.card.img-right .card-footer button,
.card.img-left .card-footer a,
.card.img-right .card-footer a, {
	padding: 0.5rem 1rem 0.5rem 1rem;
	height: auto;
	white-space: normal;
}

.card.img-left>.columns>.column,
.card.img-right>.columns>.column {
	display: flex;
	flex-direction: column;
}

/* these properties apply to all full-page styles */
.card.full-page {
	height: 100vh;
	width: 100vw;
	margin-top: 0;
	margin-bottom: 0;
}

/* these properties apply to full-page img-top style */

.card.full-page.img-top .card-img {
	height: 70vh;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(55,55,55,0.5);
	-moz-box-shadow: 0px 5px 10px 2px rgba(55,55,55,0.5);
	box-shadow: 0px 5px 10px 2px rgba(55,55,55,0.5);
}

.card.full-page.img-top .card-img img {
	position: absolute;
  object-fit: cover;
  min-height: 100%;
  bottom: 0;
}

/* these properties apply to full-page img-left and img-right styles */

.card.full-page.img-left .card-img,
.card.full-page.img-right .card-img {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.card.full-page.img-left .card-img img,
.card.full-page.img-right .card-img img {
	position: absolute;
  object-fit: cover;
  min-height: 100%;
  bottom: 0;
}