.modal .modal-container {
	max-height: 100vh;
	max-width: 50vw;	
}

.modal .modal-container .modal-body>.content {
	height: 100%;
}

.modal.full-page {
	padding: 0;
}

.modal.full-page .modal-container {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	justify-content: center;
}

.modal.full-page .modal-container .modal-body {
	padding: 0;
}
