#gallery-container{
	max-height: 10rem;
}

#gallery-nav{
	flex-wrap: nowrap;
	max-width: 100%;
	overflow-x: auto;
	margin: 0;
}

.gallery-button{
	display: inline;
	padding: 0;
}

.gallery-button img{
	width: 100%;
	height: auto;
	cursor: pointer;
}