@import 'modal';

.c3-modal {
    z-index: 1000;
    height: 100%;

    .modal {
        background-color: rgba(0, 0, 0, 0.5);

        .modal-dialog {
            max-width: 80%;
        }

        .modal-title {
            color: $quinary;
        }

        .modal-content {
            border: none;
            min-height: 650px;
            max-height: 90%;
        }

        .btn-close-modal {
            .svg-icon {
                svg {
                    fill: $quinary;
                }
            }
        }

        &.show {
            display: block;
        }

        @include media-breakpoint-down(sm) {
            .modal-dialog {
                max-width: 100%;
            }
        }
    }
}