.c3-image-grid {
  .c3-image-col {
    margin-top: map-get($spacers, 3);
    max-height: 500px;
    overflow: hidden;

    > button {
      padding: 0;
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  div[id^='image-modal'] {
    background-color: rgba(0, 0, 0, 0.75);

    .modal-dialog {
      max-width: none;
      margin: 0 auto;
      width: 90%;
      height: 100%;
      position: relative;
    }

    .modal-header {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
    }

    .modal-body {
      text-align: center;
      max-height: 100%;
    }

    .modal-content {
      background-color: transparent;
      position: static;
      height: 100%;
    }

    .btn-close-modal {
      padding: 0;
      background-color: transparent;
      border: none;

      .svg-icon {
        svg {
          fill: $white;
        }
      }

      &:hover,
      &:focus {
        background-color: $secondary;
        border: none;
        @include transitionFast(all);

        .svg-icon {
          svg {
            fill: $quinary;
            @include transitionFast(all);
          }
        }
      }
    }

    .grid-image {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
