#work-header{
	margin-top: 0;
}
#work-header .card-footer>a{
	margin-top: 0.2rem;
}
#work-body{
	display: block;
	margin-top: 2rem;
}
#home-btn {
	padding: 0.8rem 3rem 0.4rem 3rem;
	text-transform: uppercase;
	border-color: #666568;
	color: #666568;
	height: auto;
	white-space: normal;
	width: 10rem;
	transition: width 1s;
}
#home-btn:hover {
	background-color: #F1F1FC;
	border-color: #666568;
}
#home-btn:active {
	background-color: #666568; 
	border-color: #F1F1F1;
	color: #F1F1F1;
}
#home-btn.sticky {
	width: 70%;
	transition: width 1s;
}
.blog-post-img{
	border-radius: 0.1rem;
	margin: 0;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
.blog-post-img>img{
	border: .05rem solid #f1f3f5;
}
.blog-post-img>figcaption{
	margin-bottom: 0.4rem;
}
.home-button{
	margin-top: 0.4rem;
	padding: 0;
	position: sticky;
	top: 0;
}
.home-button .btn.sticky{
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}