#work-header-container{
	min-height: 16rem;
}
#work-header{
	margin-top: 0;
}
#work-header .card-footer>a{
	padding: 1rem 3rem 2rem 3rem;
	-webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
#work-header .card-footer.sticky{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: inherit;
	box-shadow: inherit;
	padding: 1rem 1.2rem 0.8rem 0.5rem;
	margin-bottom: 1rem;
}
#work-header .card-footer.sticky>a{
	padding: 1rem 6rem 2rem 6rem;
	-webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
#work-container{
	padding-bottom: 2.8rem;
}
.blog-post-img{
	border-radius: 0.1rem;
	margin: 0;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
.blog-post-img>img{
	border: .05rem solid #f1f3f5;
}
.blog-post-img>figcaption{
	margin-bottom: 0.4rem;
}