#work-header-container{
	min-height: 16rem;
}
#work-header{
	margin-top: 0;
}
#work-header .card-footer.sticky{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: inherit;
	box-shadow: inherit;
	padding-top: 1.2rem;
	padding-right: 1.2rem;
}
#work-container{
	padding-bottom: 2.8rem;
}
.blog-post-img{
	border-radius: 0.1rem;
	margin: 0;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
.blog-post-img>img{
	border: .03rem solid #666568;
}
.blog-post-img>figcaption{
	margin-bottom: 0.4rem;
}